<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/parent/notification.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/pages/phanTrang.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
    <title>Thông Báo Kết Quả Khám Sức Khỏe Cho Phụ Huynh</title>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav-Parent"></div>
<div class="notification-panel">
    <div class="notification-header">
        Thông Báo Kết Quả Khám Sức Khỏe Cho Phụ Huynh
    </div>

    <div th:if="${error}" class="alert-success red" style="display: none;">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${success}" class="alert-success green" style="display: none;">
        <p th:text="${success}"></p>
    </div>

    <div class="notification-item noseen" th:each="consent : ${listHealthCheckConsent}"
         th:onclick="|window.location.href='@{/parent/confirm/confirm-health-check(idConsent=${consent.id})}'|"
         th:classappend="${consent.status.name() == 'UNCONFIRMED'} ? ' unconfirmed'">

        <div class="notification-icon">
            <i class="fas fa-notes-medical"></i>
        </div>
        <div class="notification-content">
            <p>
                Kính gửi Quý Phụ Huynh, kết quả khám sức khỏe cho học sinh
                <strong th:text="${consent.student.fullName}">Nguyễn Văn A</strong>
            </p>
            <p class="result">
                Kiểm tra ngày
                <strong th:text="${#temporals.format(consent.schedule.checkDate, 'dd/MM/yyyy HH:mm a')}">01/07/2025</strong>.
            </p>
            <p class="time" th:text="${#temporals.format(consent.schedule.sentDate, 'dd/MM/yyyy')}">
                23/06/2025
            </p>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(listHealthCheckConsent)}"
         class="no-notification" style="display: none;">
        Không có thông báo khám sức khỏe nào.
    </div>


</div>
<!-- Phân trang -->
<div class="pagination" th:if="${totalPages > 0}">
    <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
       th:href="@{/parent/notification/HealthCheckConsents(page=${i})}"
       th:text="${i + 1}"
       th:classappend="${i == currentPage} ? ' current'">1</a>
</div>
<script th:src="@{/asset/js/phanTrang}"></script>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
