<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/parent/notification.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/pages/phanTrang.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
    <title>Thông Báo Khám Sức Khỏe Cho Phụ Huynh</title>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav-Parent"></div>
<div class="notification-panel">
    <div class="notification-header">
        Thông Báo & Nhắc Nhở Khám Sức Khỏe Cho Phụ Huynh
    </div>

    <div th:if="${error}" class="alert-success red" style="color: green; padding: 16px; font-size: 16px;">
        <p th:text="${error}"></p>
    </div>

    <div class="notification-item unconfirmed" th:each="record : ${listHealthCheckRecord}"
         th:onclick="|window.location.href='@{/parent/healthCheckRecord(idRecord=${record.id})}'|"
         th:classappend="${!record.isViewedByParent()} ? ' noseen'">

        <div class="notification-icon">
            <i class="fas fa-notes-medical"></i>
        </div>
        <div class="notification-content">
            <p>
                Kính gửi Quý Phụ Huynh, học sinh
                <strong th:text="${record.healthCheckConsentDTO.student.fullName}">Nguyễn Văn A</strong>
                có lịch khám sức khỏe.
            </p>
            <p class="reminder">
                Vui lòng xác nhận trước ngày
                <strong th:text="${#temporals.format(record.healthCheckConsentDTO.schedule.checkDate, 'dd/MM/yyyy HH:mm a')}">01/07/2025</strong>.
            </p>
            <p class="time" th:text="${#temporals.format(record.healthCheckConsentDTO.schedule.sentDate, 'dd/MM/yyyy')}">
                23/06/2025
            </p>
        </div>
    </div>

    <div class="no-notification" th:if="${#lists.isEmpty(listHealthCheckRecord)}" >
        Không có thông báo kết quả khám sức khỏe nào.
    </div>
    <div th:if="${#lists.isEmpty(listHealthCheckConsent)}"
         class="no-notification" style="display: none;">
        Không có thông báo khám sức khỏe nào.
    </div>

</div>
<!-- Phân trang -->
<div class="pagination" th:if="${totalPages > 0}">
    <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
       th:href="@{/parent/notification/HealthCheckRecords(page=${i})}"
       th:text="${i + 1}"
       th:classappend="${i == currentPage} ? ' current'">1</a>
</div>
<script th:src="@{/assets/js/phanTrang.js}"></script>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
