<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông báo kết quả tiêm chủng</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/parent/notification-vaccination.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/phanTrang.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav-Parent"></div>
<div class="notification-panel">
    <div class="notification-header">
        Thông báo kết quả tiêm chủng
    </div>

    <div th:if="${error}" class="alert-success alert-custom">
        <p th:text="${error}"></p>
    </div>

    <div th:each="record : ${listVaccinationRecord}"
         th:onclick="|window.location.href='@{/parent/vaccinationRecord(idRecord=${record.id})}'|"
         class="notification-item"
         th:classappend="${!record.viewedByParent} ? ' noseen'">

        <div class="notification-icon">
            <i class="fas fa-notes-medical"></i>
        </div>
        <div class="notification-content">
            <p>
                Bạn có kết quả khám sức khỏe cho học sinh
                <strong th:text="${record.vaccinationConsent.student.fullName}">Nguyễn Văn A</strong>
                vào ngày khám
                <strong th:text="${#temporals.format(record.vaccinationConsent.schedule.injectionDate, 'dd/MM/yyyy HH:mm a')}">01/07/2025</strong>.
            </p>
            <p class="time" th:text="${#temporals.format(record.vaccinationConsent.schedule.sentDate, 'dd/MM/yyyy')}">
                23/06/2025
            </p>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(listVaccinationRecord)}" class="no-records">
        Không có thông báo kết quả khám sức khỏe nào.
    </div>
</div>

<!-- Phân trang -->
<div class="pagination" th:if="${totalPages > 0}">
    <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
       th:href="@{/parent/notification/VaccinationRecords(page=${i})}"
       th:text="${i + 1}"
       class="page-link-custom"
       th:classappend="${i == currentPage} ? ' current'">1</a>
</div>


<script th:src="@{/assets/js/parent/notification-vaccination.js}"></script>
<script th:src="@{/asset/js/phanTrang}"></script>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
