<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Manager Home</title></head>
<body>
    <h1>Welcome Manager: <span th:text="${username}">Manager</span></h1>
    <p>This is your management dashboard.</p>
    <a th:href="@{/manager/profile}"><button type="button">Xem thông tin hồ sơ</button></a>
    <br>
    <a th:href="@{/manager/students/list}"><button type="button">Danh sách học sinh</button></a>
    <br>
    <a th:href="@{/logout}"><button type="button">Đăng xuất</button></a>

</body>
</html>
