<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin/edit-user.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
    <title>Quản Lý Người Dùng</title>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav-Admin"></div>
<div class="container">
    <h2>Chỉnh sửa người dùng</h2>
    <form th:action="@{/admin/update-user}" method="post" th:object="${editUser}">
    <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label>Tên đăng nhập:</label><br/>
            <input type="text" th:field="*{username}" required/>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Nhập email" required>
        </div>

        <div class="form-group">
            <label>Vai trò:</label><br/>
            <select th:field="*{role}">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>

        <div class="buttons">
            <button type="submit">Cập nhật</button>
            <a th:href="@{/admin/manage-users}"><button type="button">Huỷ</button></a>
        </div>
    </form>
</div>
    <script th:src="@{/assets/js/fragments/header.js}"></script>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
