<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách lịch khám đã gửi</title>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">

  <title>Danh sách lịch khám đã gửi</title>
  <link rel="stylesheet" th:href="@{/assets/css/nurse/LichKhamDaGui.css}">

  <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav"></div>
<h2>Danh sách các lịch khám đã gửi</h2>


<div th:if="${success}" class="alert-success">
  <p th:text="${success}"></p>
</div>
<div th:if="${error}" class="alert-success">
  <p th:text="${error}"></p>
</div>

<table>
  <thead>
  <tr>
    <th>STT</th>
    <th>Ngày khám</th>
    <th>Giờ khám</th>
    <th>Ngày gửi</th>
    <th>Nội dung</th>
    <th>Ghi chú</th>
    <th>Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="schedule, iterStat : ${sentSchedules}">
    <td th:text="${iterStat.index + 1}">1</td>
    <td th:text="${#temporals.format(schedule.checkDate, 'dd/MM/yyyy')}">05/01/2026</td>
    <td th:text="${#temporals.format(schedule.checkDate, 'hh:mm a')}">09:30 AM</td>
    <td th:text="${#temporals.format(schedule.sentDate, 'dd/MM/yyyy')}">01/01/2026</td>
    <td th:text="${schedule.content}">Nội dung khám sức khỏe...</td>
    <td th:text="${schedule.notes}">Nội dung khám sức khỏe...</td>
    <td>
      <a th:href="@{/nurse/healthCheckConsent/list-student-health-check(idSchedule=${schedule.id})}"
      style="color: #007bff; text-decoration: underline;">Xem học sinh</a>

    </td>
  </tr>

  <tr th:if="${#lists.isEmpty(sentSchedules)}">
    <td colspan="4" style="text-align:center; font-style:italic;">Chưa có lịch khám nào được gửi.</td>
  </tr>
  </tbody>
</table>
<!-- Phân trang -->
<div class="pagination" th:if="${totalPages > 0}">
  <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
     th:href="@{/nurse/healthCheckSchedule/list-healthCheckSchedule(page=${i})}"
     th:text="${i + 1}"
     th:classappend="${i == currentPage} ? ' current'">1</a>
</div>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<script th:src="@{/assets/js/phanTrang.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
