<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin/listUser.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
    <title>Quản Lý Người Dùng</title>

</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav-Admin"></div>
<div class="container">
    <h2>Quản lý người dùng</h2>

<!-- Thông báo thành công -->
<div th:if="${success}" class="message" th:text="${success}"></div>

<a th:href="@{/admin/add-user}">
    <button type="button" class="add-button" >➕ Thêm người dùng</button>
</a>

<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên đăng nhập</th>
        <th>Email</th>
        <th>Vai trò</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="4">Không có bản ghi nào.</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.username}">example</td>
        <td th:text="${user.email}">example</td>
        <td th:text="${user.role}">ROLE_PARENT</td>
        <td class="actions">
            <a th:href="@{'/admin/edit-user/' + ${user.id}}">Sửa</a>
            <a th:href="@{'/admin/delete-user/' + ${user.id}}"
               onclick="return confirm('Bạn có chắc chắn muốn xoá người dùng này không?');">Xoá</a>
        </td>
    </tr>
    </tbody>
</table>
    <br>
    <a th:href="@{/admin/dashboard}" class="back-link">← Quay về trang chính</a>
</div>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

