<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/parent/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
    <title>Đổi Mật Khẩu</title>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>

<div class="container">
    <h2>Đổi mật khẩu cho <span th:text="${username}"></span></h2>

<!-- Hiển thị thông báo -->
<div th:if="${success}" class="message success" th:text="${success}"></div>
<div th:if="${error}" class="message error" th:text="${error}"></div>

<form th:action="@{'/' + ${role} + '/change-password'}" method="post">
    <div class="form-group">
        <label for="currentPassword">Mật khẩu hiện tại:</label>
        <div class="password-wrapper">
            <input type="password" name="currentPassword" id="currentPassword" />
            <i class="fas fa-eye toggle-password" id="toggleCurrentPassword" aria-label="Toggle current password visibility"></i>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">Mật khẩu mới:</label>
        <div class="password-wrapper">
            <input type="password" name="newPassword" id="newPassword" placeholder="Nhập mật khẩu mới">
            <i class="fas fa-eye toggle-password" id="toggleNewPassword" aria-label="Toggle new password visibility"></i>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Xác nhận mật khẩu:</label>
        <div class="password-wrapper">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Xác nhận mật khẩu">
            <i class="fas fa-eye toggle-password" id="toggleConfirmPassword" aria-label="Toggle confirm password visibility"></i>
        </div>
    </div>

    <div class="buttons">
        <button type="submit">Đổi Mật Khẩu</button>
        <a th:href="@{'/' + ${role} + '/profile'}"><button type="button">Quay Lại</button></a>
    </div>

</form>
</div>
<script th:src="@{/assets/js/login.js}"></script>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

