<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/parent/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
    <title>Chỉnh Sửa Hồ Sơ</title>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div class="container">
<h2>Chỉnh sửa hồ sơ <span th:text="${user.username}"></span></h2>

<form th:action="@{'/' + ${user.role.name().toLowerCase()} + '/update-profile'}" th:object="${info}" method="post">

    <input type="hidden" name="userId" th:value="${user.id}"/>

    <!-- Trường chung -->
<!--    <h3><strong> Vai trò: <span th:text="${user.role}"></span></strong></h3>-->

    <!-- Trường của ADMIN -->
    <div class="form-group" th:if="${user.role.name() == 'ADMIN'}">

        <label>Họ tên Admin:</label>
        <input type="text" th:field="*{fullName}" required/>

        <label>Email:</label>
        <input type="email" name="email" th:value="${user.email}" required /><br/>

    </div>

    <!-- Trường của PARENT -->
    <div class="form-group" th:if="${user.role.name() == 'PARENT'}">
        <label>Họ tên Phụ huynh:</label>
        <input type="text" th:field="*{fullName}" required/>

        <label>SĐT:</label>
        <input type="text" th:field="*{phoneNumber}" required/><br/>

        <!--<label>Email:</label>
        <input type="text" name="email" value="tranthib@example.com" required><br/>-->

        <label>Email:</label>
        <input type="email" name="email" th:value="${user.email}" required /><br/>

        <label>Địa chỉ:</label>
        <textarea th:field="*{address}" required></textarea><br/>

    </div>

    <!--<div class="form-group">
        <label>SĐT:</label>
        <input type="text" th:field="*{phoneNumber}" required/><br/>
    </div>

    <div class="form-group">
        <label>Email:</label>
        <input type="text" name="email" value="tranthib@example.com" required><br/>
        <label>Email:</label>
        <input type="email" name="email" th:value="${user.email}" required /><br/>

    </div>-->

   <!-- <div class="form-group">
        <label>Địa chỉ:</label>
        <textarea th:field="*{address}" required></textarea><br/>
    </div>-->

    <!-- Trường của MANAGER -->
    <div class="form-group"  th:if="${user.role.name() == 'MANAGER'}">
        <label>Họ tên Quản lý:</label>
        <input type="text" th:field="*{fullName}" required/><br/>

        <label>Email:</label>
        <input type="email" name="email" th:value="${user.email}" required /><br/>
    </div>

    <!-- Trường của SCHOOL_NURSE -->
    <div class="form-group" th:if="${user.role.name() == 'NURSE'}">
        <label>Họ tên Nhân viên y tế:</label>
        <input type="text" th:field="*{fullName}" required/><br/>

        <label>Email:</label>
        <input type="email" name="email" th:value="${user.email}" required /><br/>

        <label>Năm kinh nghiệm:</label>
        <input type="number" th:field="*{experience}" min="0" step="1" required/><br/>

    </div>
        <a th:href="@{'/' + ${role} + '/change-password'}" class="change-password">
            → Đổi mật khẩu
        </a>
    <div class="buttons">
        <button type="submit">Cập nhật</button>
        <a th:href="@{'/' + ${user.role.name().toLowerCase()} + '/profile'}"><button type="button">Quay lại hồ sơ</button></a>
    </div>
</form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

