* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #ffe6f0, #fff0f5);
    display: contents;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.text-pink {
    color: #e91e63;
}
.btn-pink {
    background-color: #e91e63;
    color: white;
    border: none;
}
.btn-pink:hover {
    background-color: #c2185b;
}
