<footer class="footer" th:fragment="footer">
    <div class="footer-section contact-info">
        <h3>SCHOOL MEDICAL</h3>
        <div><i class="fas fa-map-marker-alt"></i> Trụ sở: Tầng 6 Ladeco, 266 Đội Cấn, Hà Nội</div>
        <div><i class="fas fa-phone"></i> Hotline: 1900 6750</div>
        <div><i class="fas fa-envelope"></i> Email: support@edu.vn</div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="footer-section">
        <h3>Thông tin trường</h3>
        <ul>
            <li>Trang chủ</li>
            <li>Giới thiệu</li>
            <li>Lịch tiêm vaccin</li>
            <li>Lịch khám sức khỏe định kì</li>
            <li>Hồ sơ sức khỏe</li>
            <li>Liên hệ</li>
        </ul>
    </div>
    <div class="footer-section working-hours">
        <h3>GIỜ LÀM VIỆC</h3>
        <ul>
            <li>Thứ 2: 8h00 - 20h30</li>
            <li>Thứ 3: 13h30 - 20h30</li>
            <li>Thứ 4: 8h00 - 20h30</li>
            <li>Thứ 5: 13h30 - 20h30</li>
            <li>Thứ 6: 8h00 - 20h30</li>
            <li>Thứ 7, CN: 8h30 - 12h30</li>
        </ul>
    </div>
</footer>
<button class="back-to-top" onclick="scrollToTop()">↑</button>

<script th:src="@{/static/assets/js/fragments/footer.js}"></script>