<header class="header" th:fragment="Header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="logo"><a th:href="@{/}"><img th:src="@{/assets/images/logo.png}"></a></div>
    <div class="search-bar">
        <label>
            <input type="text" placeholder="Tìm kiếm..." />
        </label>
        <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="contact-login">
        <div class="hotline"><i class="fas fa-phone"></i> Hotline: 1900 6750</div>
    </div>
    <div class="user">
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}" class="login-btn">Đăng nhập</a>
        </div>
    </div>
    <div class="user">
        <div sec:authorize="isAuthenticated()">
            <i class="fas fa-user" id="userIcon"></i>
            <p>Xin chào,<span sec:authentication="name"></span>!</p>
            <div class="dropdown-user" id="dropdownUser">
                <a th:href="@{/}">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div>
        <button id="backToTop" onclick="scrollToTop()"><i class="fas fa-arrow-up"></i></button>
    </div>
</header>


<nav class="nav" th:fragment="Nav-User">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/}">Giới thiệu</a></li>
        <li class="nav-item"><a th:href="@{/}">Liên hệ</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Parent">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/parent/parent-home}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/parent/health-record/select-student}">Hồ sơ sức khỏe</a>
            <ul class="submenu">
                <li><a th:href="@{/parent/health-record/select-student}">Khai báo</a></li>
                <li><a th:href="@{/parent/sentMedicine/list}">Gửi thuốc</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/parent/notification/vaccinationConsents}">Tiêm chủng</a>
            <ul class="submenu">
                <li><a th:href="@{/parent/notification/vaccinationConsents}">Xác nhận tiêm chủng</a></li>
                <li><a th:href="@{/parent/notification/VaccinationRecords}">Kết quả</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/parent/notification/HealthCheckConsents}">Khám sức khỏe</a>
            <ul class="submenu">
                <li><a th:href="@{/parent/notification/HealthCheckConsents}">Xác nhận khám</a></li>
                <li><a th:href="@{/parent/notification/HealthCheckRecords}">Kết quả</a></li>
            </ul>
        </li>

        <li class="nav-item"><a th:href="@{/parent/consultationAppointment/listReview}">Tư vấn</a>
            <ul class="submenu">
                <li><a th:href="@{/parent/notification/ConsultationAppointmentss}">Xác nhận tư vấn</a></li>
                <li><a th:href="@{/parent/consultationAppointment/listReview}">Danh sách lịch</a></li>
            </ul>
        </li>

        <li class="nav-item"><a th:href="@{/parent/profile}">Hồ sơ cá nhân</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Nurse">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/nurse/nurse-home}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/nurse/vaccinationSchedule/vaccinationSchedules/drafts}">Tiêm chủng</a>
            <ul class="submenu">
                <li><a th:href="@{/nurse/vaccinationSchedule/vaccinationSchedules/drafts}">Đã tạo/Chưa gửi</a></li>
                <li><a th:href="@{/nurse/vaccinationSchedule/vaccinationSchedules/sent}">Đã gửi</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/nurse/healthCheckSchedule/healthCheckSchedules/drafts}">Kiểm tra y tế</a>
            <ul class="submenu">
                <li><a th:href="@{/nurse/healthCheckSchedule/healthCheckSchedules/drafts}">Đã tạo/Chưa gửi</a></li>
                <li><a th:href="@{/nurse/healthCheckSchedule/healthCheckSchedules/sent}">Đã gửi</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/nurse/medicines}">Y tế </a>
            <ul class="submenu">
                <li><a th:href="@{/nurse/medicines}">Thuốc </a></li>
                <li><a th:href="@{/nurse/medical-supplies}">Vật tư</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/nurse/healthCheckSchedule}">Tạo lịch</a>
            <ul class="submenu">
                <li><a th:href="@{/nurse/healthCheckSchedule}">Lịch khám</a></li>
                <li><a th:href="@{/nurse/vaccinationSchedule}">Lịch tiêm</a></li>
                <li><a th:href="@{/nurse/consultationAppointment/consultation-appointment}">Lịch tư vấn</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/nurse/health-record}">Danh sách</a>
            <ul class="submenu">
                <li><a th:href="@{/nurse/health-record}">Hồ sơ sức khỏe HS </a></li>
                <li><a th:href="@{/nurse/sentMedicineUsage/sent}">Thuốc PH gửi</a></li>
                <li><a th:href="@{/nurse/medical-events}">Sự kiện y tế</a></li>


            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/nurse/consultationAppointment/listReview}">Tư vấn</a>
            <ul class="submenu">
                <li><a th:href="@{/nurse/consultationAppointment/listReview}">Lịch tư vấn</a></li>
                <li><a th:href="@{/nurse/consultationAppointment/listCreatedReview}">Lịch tư vấn đã tạo</a></li>

            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/nurse/profile}">Hồ sơ cá nhân</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Manager">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/manager/students/list}">Danh sách học sinh</a></li>
        <li class="nav-item"><a th:href="@{/manager/profile}">Thông tin cá nhân</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Admin">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/admin/dashboard}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/admin/manage-users}">Quản lý người dùng</a></li>
        <li class="nav-item"><a th:href="@{/admin/profile}">Thông tin cá nhân</a></li>
    </ul>
</nav>

