<header class="header" th:fragment="Header">
    <div class="logo">School Medical</div>
    <div class="search-bar">
        <label>
            <input type="text" placeholder="Tìm kiếm..." />
        </label>
        <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="contact-login">
        <div class="hotline"><i class="fas fa-phone"></i> Hotline: 1900 6750</div>
    </div>
    <div class="user">
        <!--        <button class="login-btn">Đăng nhập</button>-->
        <i class="fas fa-user" id="userIcon"></i>
        <p>Xin Chào, !</p>
        <div class="dropdown-user" id="dropdownUser">
            <a th:href="@{/}">Thông tin cá nhân</a>
            <a th:href="@{/}">Đăng xuất</a>
        </div>
    </div>

    <div>
        <button id="backToTop" onclick="scrollToTop()"><i class="fas fa-arrow-up"></i></button>
    </div>
</header>


<nav class="nav" th:fragment="Nav-User">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/}">Giới thiệu</a></li>
        <li class="nav-item"><a th:href="@{/}">Liên hệ</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Parent">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/}">Hồ sơ sức khỏe</a></li>
        <li class="nav-item"><a th:href="@{/}">Tiêm chủng</a>
            <ul class="submenu">
                <li><a th:href="@{/}">Lịch tiêm</a></li>
                <li><a th:href="@{/}">Kết quả</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/}">Khám sức khỏe</a>
            <ul class="submenu">
                <li><a th:href="@{/}">Lịch khám</a></li>
                <li><a th:href="@{/}">Kết quả</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/}">Tư vấn</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Nurse">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/}">Sự kiện y tế</a></li>
        <li class="nav-item"><a th:href="@{/}">Thuốc & Vật tư</a></li>
        <li class="nav-item"><a th:href="@{/}">Tạo lịch</a>
            <ul class="submenu">
                <li><a th:href="@{/}">Lịch khám</a></li>
                <li><a th:href="@{/}">Lịch tiêm</a></li>
                <li><a th:href="@{/}">Lịch tư vấn</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/}">Danh sách</a>
            <ul class="submenu">
                <li><a th:href="@{/}">Lịch khám</a></li>
                <li><a th:href="@{/}">Lịch tiêm</a></li>
                <li><a th:href="@{/}">Lịch tư vấn</a></li>
            </ul>
        </li>
        <li class="nav-item"><a th:href="@{/}">Tư vấn</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Manager">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/}">Xem báo cáo</a></li>
    </ul>
</nav>

<nav class="nav" th:fragment="Nav-Admin">
    <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="nav-item"><a th:href="@{/}">Quản lý người dùng</a></li>
    </ul>
</nav>

