<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/eventMedical/list.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>

    <title>Danh Sách Sự Kiện Y Tế</title>

</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav-Nurse"></div>
<div class="container">
    <h2>Danh Sách Sự Kiện Y Tế</h2>

<div th:if="${success}" style="color: green;">
    <p th:text="${success}"></p>
</div>
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>


<a th:href="@{/nurse/medical-events/create}" class="add-button">Ghi nhận sự kiện mới</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Học sinh</th>
        <th>Thời gian</th>
        <th>Vị trí</th>
        <th>Mô tả</th>
        <th>Chi tiết</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event, iStat : ${events}">
        <td th:text="${iStat.count}"></td>
        <td th:text="${event.studentFullName}"></td>
        <td th:text="${#dates.format(event.eventTime, 'dd/MM/yyyy HH:mm')}"></td>
        <td th:text="${event.location}"></td>
        <td th:text="${event.description}"></td>
        <td><a th:href="@{'/nurse/medical-events/' + ${event.id}}">Xem chi tiết sự kiện</a></td>
        <td>
            <form th:action="@{'/nurse/medical-events/delete/' + ${event.id}}" method="post"
                  onsubmit="return confirm('Bạn có chắc muốn xóa sự kiện này không?');">
                <button type="submit">Xóa</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/nurse/nurse-home}"><button type="button" class="back-button">Quay lại</button></a>
</div>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
