<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>School Nurse Dashboard</title>
    <style>
        label { display: block; margin-top: 10px; }
        input, textarea, select { width: 100%; padding: 8px; margin-top: 4px; }
        button { margin-top: 16px; padding: 8px 16px; }
    </style>
</head>
<body>
    <h1>Welcome Nurse: <span th:text="${username}">Nurse</span></h1>
    <p>This is your dashboard for managing student health.</p>
    <div th:if="${create_checkSchedule}" class="create_checkSchedule">
        <p th:text="${create_checkSchedule}"></p>
    </div>
    <div th:if="${send_parent}" class="send_parent">
        <p th:text="${send_parent}"></p>
    </div>
    <div th:if="${error}" class="send_parent">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${success}" class="send_parent">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${message}" class="send_parent">
        <p th:text="${message}"></p>
    </div>
    <div>
        <a th:href="@{/nurse/healthCheckSchedule}">trang tạo health check schedule</a>
    </div>
    <div>
        <a th:href="@{/nurse/healthCheckSchedule/list-healthCheckSchedule}">trang các health check schedule đã gửi</a>
    </div>
    <div>
        <a th:href="@{/nurse/vaccinationSchedule}">trang tạo lịch tiêm chủng</a>
    </div>
    <div>
        <a th:href="@{/nurse/vaccinationSchedule/vaccinationSchedules/drafts}">trang các vaccination schedule đã tạo nhưng chưa gửi đến parent</a>
    </div>
    <div>
        <a th:href="@{/nurse/vaccinationSchedule/vaccinationSchedules/sent}">trang các vaccination schedule đã gửi</a>
    </div>

    <div>
        <a th:href="@{/nurse/consultationAppointment/listReview}">Danh sách lịch tư vấn</a>
    </div>

    <div>
        <a th:href="@{/nurse/consultationAppointment/listCreatedReview}">Danh sách lịch tư vấn đã tạo</a>
    </div>
    <div>
        <a th:href="@{/nurse/consultationAppointment/consultation-appointment}">Tạo lịch hẹn</a>
    </div>

    <a th:href="@{/nurse/profile}"><button type="button">Xem thông tin hồ sơ</button></a>
    <br>
    <a th:href="@{/nurse/medical-events}"><button>Danh sách sự kiện y tế</button></a>
    <br>
    <a th:href="@{/nurse/health-record}"><button type="button">Danh sách hồ sơ sức khỏe của học sinh</button></a>
    <br>
    <a th:href="@{/nurse/medicines} "><button type="button">Quản lý Thuốc</button></a>
    <br>
    <a th:href="@{/nurse/medical-supplies} "><button type="button">Quản lý Vật tư y tế</button></a>
    <br>
    <a th:href="@{/nurse/sentMedicineUsage/sent} "><button type="button">Danh sách thuốc phụ huynh đã gửi</button></a>
    <br>
    <a th:href="@{/logout}"><button type="button">Đăng xuất</button></a>




</body>
</html>
