<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lịch sử sử dụng thuốc</title>
    <link rel="stylesheet" th:href="@{/assets/css/nurse/sent-medicine-usage/medicine_usage_history.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fragments/header.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/fragments/footer.css}" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: Header"></div>
<div th:replace="fragments/header :: Nav-Nurse"></div>
<div class="container">
<h2>Lịch sử các liều thuốc đã cho học sinh uống</h2>

<div class="back-button">
    <a th:href="@{/nurse/sentMedicineUsage/sent}">
        <button type="button">← Quay lại</button>
    </a>
</div>

<table border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>Học sinh</th>
        <th>Thuốc</th>
        <th>Liều dùng</th>
        <th>Thời gian</th>
        <th>Y tá</th>
        <th>Ghi chú</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usage, iter : ${usageList}">
        <td th:text="${iter.count}">1</td>
        <td th:text="${usage.sentMedicine.student.fullName}">Nguyễn Văn A</td>
        <td th:text="${usage.medicineName}">Paracetamol</td>
        <td th:text="${usage.dosage}">1 viên</td>
        <td th:text="${usage.usageTime}">2025-07-06</td>
        <td th:text="${usage.schoolNurse.fullName}">Y tá A</td>
        <td th:text="${usage.notes}">Không phản ứng phụ</td>
    </tr>
    </tbody>
</table>
<!--<a th:href="@{/nurse/sentMedicineUsage/sent} "><button type="button">Quay lại</button></a>-->
<br>
</div>
<script th:src="@{/assets/js/nurse/sent-medicine-usage/medicine_usage_history.js}"></script>
<script th:src="@{/assets/js/fragments/header.js}"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
